# Local/test requirements go here
requests >= 2.26
https://github.com/THIS-Institute/thiscovery-lib/archive/refs/heads/master.zip
https://github.com/THIS-Institute/thiscovery-dev-tools/archive/refs/heads/andre/4640-actions-deployment-not-logged.zip

